body { 
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container {
	margin: 50px 0 0;
  	max-width: 1000px;

	font-family: 'Helvetica Neue', 'sans serif';	

	h1 {
		margin: 0px;
		font-weight: 400;
	}

	p {
		margin: 0px;
	}


}

#timeline {
	width: 600px;
	float: right;
	font-weight: 300;
	color: #666;

	.post,
	.page {
		display: block;
		position: relative;

		h2 {
			padding: 0 20px;
		}

		.content {
			border-radius: 2px;
			box-shadow: 0px 0px 5px #ddd;
			overflow: hidden;
			border: 1px solid silver;
			background-color: #fff;
		}

		.thumbnail {
			height: 600px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.text {			
			padding: 25px 20px 20px;
			border-top: 1px solid #eee;

			p {
				font-size: 16px;
				line-height: 21px;
			}

		}

		.tags {
			
		}
		
		.comment {
			padding: 10px;
			border-top: 1px solid #eee;
			opacity: .5;

			&:hover {
				opacity: 1;
			}

		}

		.actions {
			padding: 8px 20px;
			font-size: 13px;

			a { 
				font-weight: bold;
				color: #999;
			}

		}

		.meta {
			padding: 15px;
			margin-bottom: 40px;
			font-size: 14px;
			line-height: 24px;
			color: #888;
			border-bottom: 1px solid #e4e4e4;

			.gravatar {
				border-radius: 4px;
				overflow: hidden;
				display: inline-block;
				height: 24px;
				float: left;
				margin-right: 10px;
			}

			.highlight {
				font-weight: bold;
			}

			.post-format {
				font-style: italic;
			}

		}

		&:last-of-type {

			.meta {
				border: none;
			}

		}

		.post-text-area,
		.edit-area {
			padding: 10px;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}

		.new-post-menu {
			border-top: 1px solid #eee;

			ul {
				list-style: none;
				padding-left: 15px;

				li {
					line-height: 44px;
					display: inline-block;
					margin-right: 7px;
				}

			}

			.fa {
				font-size: 22px;

				a {
					display: block;
				}

			}

		}

		input[type="text"],
		textarea {
			padding: 10px;
			width: 100%;
			font: inherit;
			border: none;
			resize: none;

			&:focus {
				outline: none;
			}

		}

		&.create-new {
			
			display: none;

			.text {

				textarea {
					padding: 0;
				}

			}

		}
	}

}

#sidebar {
	display: block;
	float: left;
	width: 290px;
	box-sizing: border-box;
	padding: 0 20px 20px;
	min-height: 300px;
	border-left: 1px solid #ddd;
	margin-left: 20px;
	color: #666;
	margin-bottom: 30px;

	h1 {
		text-transform: uppercase;
		font-size: 24px;
	}

	h2 {
		font-size: 12px;
		text-transform: uppercase;
		color: #999;
		letter-spacing: .5px;
		/*text-shadow: 1px 1px #fff;*/
	}

	p {
		font-weight: 300;
		color: #999;

		&.copyright {
			margin-top: 30px;
			font-size: 14px;
			line-height: 20px;
		} 

	}

	.menu {

		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 40px;
			display: block;

			li {
				line-height: 24px;
				letter-spacing: .5px;
				font-size: 14px;

				a {
					color: inherit;
				}

			}
		}

	}

	.site-description {
		font-size: 18px;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 15px;
	}

}

.hide {
	display: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	color: inherit;
}

button {
	font: inherit;
	line-height: 32px;
	padding: 0 15px;
	background-color: transparent;
	color: #666;
	border-radius: 2px;
	min-width: 80px;
	border: 2px solid #666;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;

	&:hover { 
		background-color: #666;
		color: #fff;
	}

	&:focus {
		outline: none;
	}

}

.fa {
	width: 24px;
	text-align: center;
}

.mobile-view {
	display: none;
}

@media screen and (max-width: 910px) {

	.mobile-view {
		display: block;
	}

	#mobile-header {
		
		h1 {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 200;
		}

		h2 {
			font-size: 12px;
			text-transform: uppercase;
			color: #999;
			letter-spacing: .5px;
		}

		.site-description {
			font-size: 14px;
			font-weight: 300;
			margin-top: 10px;
			margin-bottom: 20px;
		}

		padding: 25px 20px;
		margin-bottom: 20px;
		background-color: #fff;
		text-align: center;

	}

	.container {
		margin: 0;
	}

	#sidebar {
		width: 100%;
		border: none;
		margin: 0;
		padding: 20px;
		background-color: #333;
		color: #CCC;

		h1,
		.site-description {
			display: none;
		}
	}

	#timeline {
		width: 100%;

		.post,
		.page {
			
			.thumbnail {
				height: 370px;
			}
			
			.content {
				margin: 0 10px;
			}

			.meta {
				font-size: 12px;
			}
		}

	}
}